<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link the style.css file in static folder -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <title></title>
</head>

<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <!-- <li><a href="/docs">Docs</a></li> -->
        <li><a href="/team" style="float:right;">The Team</a></li>
        <li><a href="/app">Application</a></li>
    </ul>
    <br>

</body>

</html>